[user]
name = szllong123
email = 1546221417@qq.com

[alias]
co = chechout
ci = commit -a
st = status
br = branch
oneline = log --pretty=oneline --since='2 days ago'
onelog = log -p -1
[color]
status = auto
branch = auto
ui = auto
